.hero-image {
  height: 850px;
  width: 100%;
}

@media only screen and (max-width: 1280px) {
  .hero-image {
    height: 630px;
    width: auto;
    display: block;
  }
}

@media only screen and (max-width: 430px) {
  .hero-image {
    height: 650px;
    width: auto;
    display: block;
  }
}

@media only screen and (max-width: 390px) {
  .hero-image {
    height: 550px;
    width: auto;
    display: block;
  }
}

@media only screen and (max-width: 320px) {
  .hero-image {
    height: 350px;
    width: auto;
    display: block;
  }
}
