.hero-image {
  height: 850px;
  width: 100%;
}

.hero-carousel-caption-h3 {
  text-shadow: 2px 2px 4px #000000;
}

.hero-carousel-caption-p {
  text-shadow: 2px 2px 4px #000000;
}

@media only screen and (max-width: 1280px) {
  .hero-image {
    height: 630px;
    width: auto;
    display: block;
  }
}

@media only screen and (max-width: 430px) {
  .hero-image {
    height: 100%;
    width: auto;
    display: block;
  }
}

@media only screen and (max-width: 390px) {
  .hero-image {
    height: 100%;
    width: auto;
    display: block;
  }
}

@media only screen and (max-width: 320px) {
  .hero-image {
    height: 100%;
    width: auto;
    display: block;
  }
}
