.kabupaten-section {
  max-width: 1320px !important;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.kabupaten-section-title {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.kabupaten-section-title-h1 {
  font-size: 40px;
  color: #15264c;
  text-transform: uppercase;
}

.kabupaten-section-discount {
  margin-bottom: 1.5rem;
}

.kabupaten-section-discount-p {
  font-size: 15px;
  text-transform: uppercase;
}

/*
.kabupaten-row-parent {
  padding: 0px !important;
}
*/

/*
.kabupaten-col-parent-1 {
  padding: 0px !important;
}
*/

.image-col-1 {
  width: 100%;
  height: 640px !important;
}

.image-col-21 {
  width: 100%;
  height: 320px !important;
}

.kabupaten-col-parent-1 {
  margin-bottom: 1.5rem;
}

.kabupaten-col-2-row-1 {
  margin-bottom: 1.5rem;
}

.kabupaten-card-text {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kabupaten-card-text-col-1-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.kabupaten-card-text-col-1-row-col-1 {
  margin-bottom: 1.5rem;
}

.kabupaten-card-text-col-1-row-col-1-h1 {
  color: white;
  font-weight: 500;
  text-shadow: 2px 2px 4px #000000;
  font-size: 60px;
}

/*
.kabupaten-col-parent-2 {
  padding: 0px !important;
}
*/

/*
.kabupaten-col-parent-2-card {
  padding: 0px !important;
}
*/

.kabupaten-card-1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kabupaten-card-2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kabupaten-card-text-col-2-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.kabupaten-card-text-col-2-row-col {
  margin-bottom: 1.5rem;
}

.kabupaten-card-text-col-2-row-col-h1 {
  color: white;
  font-weight: 500;
  text-shadow: 2px 2px 4px #000000;
  font-size: 40px;
}

@media only screen and (max-width: 1440px) {
  .kabupaten-section {
    max-width: 1100px !important;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
  }

  .image-col-1 {
    width: 100%;
    height: 576px !important;
  }

  .image-col-21 {
    width: 100%;
    height: 275px !important;
  }
}

/* macbook air */
@media only screen and (max-width: 1280px) {
  .kabupaten-section {
    max-width: 1024px !important;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .kabupaten-section {
    max-width: 900px !important;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
  }

  .image-col-1 {
    width: 100%;
    height: 502px;
  }

  .image-col-21 {
    width: 100%;
    height: 250px !important;
  }

  .kabupaten-card-text-col-1-row-col-1-h1 {
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 4px #000000;
    font-size: 50px;
  }

  .kabupaten-card-text-col-2-row-col-h1 {
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 4px #000000;
    font-size: 30px;
  }

  .kabupaten-bold-col-1 {
    font-weight: 500;
  }

  .kabupaten-bold-col-2 {
    font-weight: 400;
  }
}

@media only screen and (max-width: 991px) {
  .kabupaten-section {
    max-width: 720px !important;
    margin-right: auto;
    margin-left: auto;
  }

  .image-col-1 {
    width: 400px;
    height: 400px;
  }

  .kabupaten-col-2-row-1 {
    margin-bottom: 0px;
  }

  .image-col-21 {
    width: 400px;
    height: 400px !important;
  }

  .kabupaten-col-parent-2-card {
    margin-bottom: 1.5rem;
  }

  .kabupaten-card-text-col-2-row-col-h1 {
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 4px #000000;
    font-size: 50px;
  }
}

/*
@media only screen and (max-width: 884px){
  .kabupaten-section {
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
  }
}
*/

@media only screen and (max-width: 768px) {
  .image-col-1 {
    width: 400px;
    height: 400px;
  }

  .image-col-21 {
    width: 400px;
    height: 400px !important;
  }
}

@media only screen and (max-width: 430px) {
  .kabupaten-section {
    max-width: 380px !important;
  }

  .image-col-1 {
    /*width: 400px;*/
    height: 400px !important;
  }
}

@media only screen and (max-width: 375px) {
  .kabupaten-section {
    max-width: 340px !important;
  }

  .image-col-1 {
    width: 100% !important;
    height: 300px !important;
  }

  .kabupaten-card-text-col-1-row-col-1-h1 {
    font-size: 35px;
  }

  .kabupaten-card-text-col-2-row-col-h1 {
    font-size: 35px;
  }

  .image-col-21 {
    width: 300px;
    height: 300px !important;
  }
}
