.all-navbar {
  background-color: rgba(37, 53, 38, 0.85);
  /*padding: 17px !important;*/
}

.navbar-logo-link {
  text-decoration: none;
}

.navbar-logo-bg {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 0 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.navbar-logo-p {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: black;
}

.navbar-logo-img {
  width: 125px;
}

.ofcan {
  width: 50% !important;
}

@media only screen and (max-width: 320px) {
  .all-navbar {
    padding: 10px !important;
  }
}
